.screen{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    text-wrap:wrap; */
    height: 100px;
    background-color: rgba(245, 245, 245, 0.6);
    /* flex-wrap: wrap; */
    overflow-x: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 2px;
    border-radius: 50px;
    white-space: normal;
    text-align: start;
    line-height: 1;
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px
}






