:root {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: white;
    --select-bg: rgba(255, 255, 255, 0.2);
  }
  * {
    box-sizing: border-box;
  }
  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: linear-gradient(35deg, red, purple);
  }
  /* <select> styles */
  select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    font-size: 16px;
    /* Personalize */
    width: 8rem;
    padding: 5px;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
    /* <option> colors */

  }
  option {
    color: purple;
    background-color: transparent;
    opacity: 0.8;

  }

  input {
    align-self: center;
    cursor: pointer;
    top: 10px;
    
  }

  #trash, #undo {
    width: 30px;
  }

  .toolbar button
  {
    background-color: transparent;
    border-radius: 50px;
    padding: 5px;
    color: black;
  }

  .toolbar button:hover
  {
    background-color: rgba(255, 255, 255, 0.3);
    
  }

  .toolbar
    {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        width: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 25px;
    }