.accom, .restart, .plus
{
    height: 100px;
    margin-top: -40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: -40px;
}

#accom-b {
    background-color: #FFF7B8;
}

#new-p-b
{
    background-color: #56E45C;

}

#new-g-b
{
    background-color: #91B8FF;
}


#accom-b, #new-g-b, #new-p-b {
    padding-left: 0px;
}

/* #new-g-b
{
    padding-top: 0px;
} */

.header {
    margin-top: 20px;
}