.screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    white-space: pre-wrap; /* Handle spaces and new lines properly */

   
}
.screen span {
     /* Ensure spans are inline */

    display: inline;
}